# Credenciales del contenedor de Postgres (docker-compose.yml)
POSTGRES_USER=oscar
POSTGRES_PASSWORD=1234
POSTGRES_DB=metasploit
POSTGRES_PORT=5433

# pgAdmin (http://localhost:5050)
PGADMIN_EMAIL=admin@local.dev
PGADMIN_PASSWORD=admin
PGADMIN_PORT=5050
